body {
	margin: 0;
	overflow: hidden;
	background: #191919;
}

.back {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.greet {
	display: block;
	position: absolute;
	width: 100%;
	top: 80px;
	left: 60px;
	font-size: 80px;
	color: white;
	font-family: 'Lato', sans-serif;
	color: #fdaf05;
}

.greet span {
	font-size: 45px;
	font-family: 'Raleway', sans-serif;
}

.box {
	width: 300px;
	position: absolute;
	top: 50%;   
	left: 160px;  /*will alter this value to 50% for small screens*/
	transform: translate(-50%,-50%);
	text-align: center;
}

input[type="submit"] {
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #f2962e;
	padding: 14px 80px;
	color: white;
	border-radius: 40px;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	word-spacing: 4px;
	font-size: 16px;
}

input[type="submit"]:hover {
	background: #f2962e;
}

.fa {
	color: white;
}

.footer {
	display: block;
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 100%;
    color: #fdaf05;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	word-spacing: 2px;
	text-align: center;
}

.footer a {
	text-decoration: none;
	color: #fdaf05;
}

@media only screen and (max-width: 768px) {
	.greet {
		font-size: 50px;
	}

	.greet span {
		font-size: 30px;
	}
}

@media only screen and (max-width: 500px) {
	.greet {
		font-size: 45px;
		left: 0;
		top: 160px;
		text-align: center;
	}

	.greet span {
		font-size: 25px;
	}
	.box {
		left: 50%;
	}
}